extends layout

block content

	form(class='form-signin', action='/criar', method='POST')
		input(type='date', name='dataIn' class='form-control', placeholder='Data',required, autofocus)
		input(type='date', name='dataOut' class='form-control', placeholder='Data',required, autofocus)
		input(type='hidden', name='recente', class='form-control')
		button(class='btn btn-lg btn-primary btn-block', type='submit') Criar Registros
		span.clearfix
	
	