extends layout

block content
	h1.
		Selecione #{pessoas} leitos
	form(name="permissao",method="post",action="/home/reserva/alocacao" )
		button(type="submit", name='leitos') Alocar
		ul
			each leito, j in leitos
				input(type="checkbox", name=leito) 
				Tick #{leito}
				br