extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Modulo #{titulo}
			center
				div.section-wall
					- for (var i = 0; i < endereco.length; i++){
						form(class='form-signup', action='/home' + '#{endereco[i]}', method='GET')
							button(class='btn btn-lg btn-primary btn-block', type='submit') #{tag[i]}
							span.clearfix
						br
					-}
				div.section-wall
					form(class='form-signup', action='/home', method='GET')
						button(class='btn btn-lg btn-primary btn-block', type='submit') Voltar
						span.clearfix