extends layout

block content
	h1.
		Quartos disponiveis
	ul
		each leito, j in leitos
			li
				form(name="permissao",method="post",action="/home/reserva/alocacao" )
					input(type="checkbox", name='leito')
					button(type="submit", value=leito, name='bizu') #{leito}
					br