extends layout

block content
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Log de alterações no sistema
	h1 Escolha uma data para exibir os logs
		form(class='form-signin', action='/home/gerente/log', method='GET')
			input(type='date', name='date' class='form-control', placeholder='Data',required, autofocus)
			button(class='btn btn-lg btn-primary btn-block', type='submit') Visualizar Registros
			span.clearfix

	//h1.
	//	Log	
	-for (var i = 0; i < log.length; i++){
		pre.
			#{log[i]}
	-}
		
	
	