extends layout

block content
	-function chooseLeitoColor(leito){
	-   if(leito.ocupabilidade == "normal"){
	-		return '#267326';
	-	}
	-	else if(leito.ocupabilidade == "semi_ocupavel"){
	-		return '#ff9900';
	-	}
	-	else{
	-		return '#ff1a1a';
	-	}
	-}
	div.container
		div.row
			center
				div.section-wall
					h1.section-title Quadro de manutenções

	div.container.default-table-wrapper
		center
			table#compact-table.table-bordered
				tbody
					- var last_bloco = leitos[0].bloco;
					-for(var i = 0, aux_int = 0; i < leitos.length; i++, aux_int++){
						if (aux_int%15 == 0)
							tr
						if (last_bloco != leitos[i].bloco)
							tr
							- aux_int = 0;
						td(style="padding: 1px 0px 1px 0px; width: 6.66%; background-color:#{chooseLeitoColor(leitos[i])};")
							.dropdown
								button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
									| #{leitos[i].cod_leito}
								ul.dropdown-menu
									-for(var pane_idx = 0; pane_idx < leitos[i].manutencao.length; pane_idx++){
										li
											a(href='#') #{leitos[i].manutencao[pane_idx]}
									-}
									-if(leitos[i].manutencao.length == 0){
										li
											a(href='#') Sem panes
									-}
									li.divider
									li
										a(href='/home/manutencao/alterar?leito_alterado=#{leitos[i].cod_leito}') Adicionar/Remover panes
						- last_bloco = leitos[i].bloco;
					-}


