
extends layout2

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.signup-wall
					h1.cadastro-title Solicitação de Reserva no Hotel do ICEA
					form(class='form-signin', action='/', method='POST')
						.cadastro-sections
							| Informações pessoais
						select(name='posto', class='form-control', placeholder='Posto/Graduação', required)
							option(disabled value='', selected hidden) Posto/Graduação
							option(value='Almirante-de-Esquadra') Almirante-de-Esquadra
							option(value='General-de-Exército') General-de-Exército
							option(value='Tenente-Brigadeiro-do-Ar') Tenente-Brigadeiro-do-Ar
							option(value='Vice-Almirante') Vice-Almirante
							option(value='General-de-Divisão') General-de-Divisão
							option(value='Major-Brigadeiro-do-Ar') Major-Brigadeiro-do-Ar
							option(value='Contra-Almirante') Contra-Almirante
							option(value='General-de-Brigada') General-de-Brigada
							option(value='Brigadeiro-do-Ar') Brigadeiro-do-Ar
							option(value='Capitão-de-Mar-e-Guerra') Capitão-de-Mar-e-Guerra
							option(value='Coronel') Coronel
							option(value='Capitão-de-Fragata') Capitão-de-Fragata
							option(value='Tenente Coronel') Tenente Coronel
							option(value='Capitão-de-Corveta') Capitão-de-Corveta
							option(value='Major') Major
							option(value='Capitão-Tenente') Capitão-Tenente
							option(value='Capitão') Capitão
							option(value='1o Tenente') 1o Tenente
							option(value='2o Tenente') 2o Tenente
							option(value='Guarda-Marinha') Guarda-Marinha
							option(value='Aspirante') Aspirante
							option(value='Cadete') Cadete
							option(value='Suboficial') Suboficial
							option(value='SubTenente') SubTenente
							option(value='1o Sargento') 1o Sargento
							option(value='2o Sargento') 2o Sargento
							option(value='3o Sargento') 3o Sargento
							option(value='Cabo') Cabo
							option(value='Civil') Civil

						input(type='text', name='nome', class='form-control', placeholder='Nome completo')
						input(type='text', name='nome_guerra', class='form-control', placeholder='Nome de Guerra/Tratamento')
						input(type='text', name='saram', class='form-control', placeholder='SARAM')
						input(type='text', name='identidade', class='form-control', placeholder='Identidade')
						input(type='text', name='unidade', class='form-control', placeholder='Unidade/Empresa')
						input(type='text', name='email', class='form-control', placeholder='Email')
						input(type='text', name='endereco', class='form-control', placeholder='Endereço')
						input.telefone(type='text', name='telefone', class='form-control', placeholder='Telefone')
						input.cpf(type='text', name='cpf', class='form-control', placeholder='CPF')
						select(name = 'acompanhante', class = 'form-control')
							option(value = '0') Sem acompanhante
							option(value = '1') 1 acompanhante
							-for(var i = 2; i <= 10; i++){
								option(value = '#{i}') #{i} acompanhantes
							-}

						.cadastro-sections
							| Nome do curso ou missão
						input(type='text', name='curso', class='form-control', value='Motivo pessoal', placeholder='Nome do curso ou missão')

						.cadastro-sections
							| Data de entrada
						input(type='date', name='checkin', class='form-control', placeholder='Data de entrada',required)
						.cadastro-sections
							| Data de saída
						input(type='date', name='checkout', class='form-control', placeholder='Data de saida',required)

						.cadastro-sections
							| Solicitante
						.radio-inline
							input(type='radio', name='solicitante', value='Aluno', checked='çhecked')
							| Aluno
						.radio-inline
							input(type='radio', name='solicitante', value='Instrutor')
							| Instrutor
						.radio-inline
							input(type='radio', name='solicitante', value='Não se aplica')
							| Não se aplica
						//select(name = 'posto', class = 'form-control')
						//	option(value = 100) Oficial General
						//	option(value = 10) Oficial
						//	option(value = 1) Graduado
						.cadastro-sections
							| Termos de compromisso
						input(type='checkbox')
						|  Estou ciente do meu dever de ler a NPA 021/ASE que estabelece as normas de utilização do hotel do ICEA, bem como contribuir para o seu fiel cumprimento, colaborando com a boa convivência entre os hóspedes, civis contratados e com a administração do hotel, evitando, assim pagar multa e sofrer sanções previstas na NPA.
						br
						a(href="https://www.icea.gov.br/hotel/npa_021.pdf", target="_blank") NPA 021/ASE

						button(class='btn btn-lg btn-primary btn-block', type='submit', style='margin-top:20px') Solicitar Reserva
						span.clearfix
				#message
					if message
						h1.text-center.error-message #{message}
		