

extends layout2

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				div.signup-wall
					h1.text-center.cadastro-title Insira seus dados para solicitar reserva
					form(class='form-signin', action='/', method='POST')
						input(type='text', name='nome', class='form-control', placeholder='Nome completo', autofocus)
						input(type='text', name='email', class='form-control', placeholder='Email')
						input(type='text', name='cpf', class='form-control', placeholder='CPF')
						input(type='date', name='checkin', class='form-control', placeholder='Data de entrada',required)
						input(type='date', name='checkout', class='form-control', placeholder='Data de saida',required)
						select(name = 'acompanhante', class = 'form-control')
							option(value = 0) Sem acompanhante
							option(value = 1) 1
						select(name = 'posto', class = 'form-control')
							option(value = 100) Oficial General
							option(value = 10) Oficial
							option(value = 1) Graduado
						button(class='btn btn-lg btn-primary btn-block', type='submit') Solicitar Reserva
						span.clearfix
				#message
					if message
						h1.text-center.error-message #{message}
		
	