doctype html
html
	head
		title= title
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script.
			$(document).ready(function(){
				$('.dropdown-toggle').dropdown();
			});
	body.body-background				
		img(src="/img/logo.png", style='width:100%')
		.botoes-wrapper
			.botao-header
				.botao-box.pos-botao-1
					.dropdown#dropdown-layout
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Recepção
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/recepcao/checkin') Realizar Check-in de cliente
							li
								a(href='/home/recepcao/checkout') Realizar Check-out de cliente
				.botao-box.pos-botao-2
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Reserva
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/reserva') Ver solicitações de reserva
				.botao-box.pos-botao-3
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Lavanderia
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/lavanderia/folha') Preencher folha de coleta e entrega
							li
								a(href='/home/lavanderia/gerencia') Visualizar relatórios entregues
				.botao-box.pos-botao-4
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Manutenção
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/manutencao/quadro') Visualizar quadro de manutenções
							li
								a(href='/home/manutencao/limpeza') Visualizar quadro de limpeza
				.botao-box.pos-botao-5
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Financeiro
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Gerar relatório financeiro
				.botao-box.pos-botao-6
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Gerência
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/gerente/permissao') Gerenciar permissões de usuários
							li
								a(href='/home/gerente/registro') Gerenciar leitos
							li
								a(href='/home/gerente/signup') Criar usuários
				.botao-box.pos-botao-7
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							a(href='/home' style='color:white') Início



		block content



