doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
	body.body-background
		img(src="/img/logo.png", style='width:100%')
		.botoes-wrapper
			.botao-header
				.botao-box.pos-botao-1
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Recepção
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Realizar Check-in de cliente
							li
								a(href='#') Realizar Check-out de cliente
				.botao-box.pos-botao-2
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Reserva
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/reserva') Ver cadastros de reserva
				.botao-box.pos-botao-3
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Lavanderia
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Gerenciar itens da lavanderia
				.botao-box.pos-botao-4
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Manutenção
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/manutencao/quadro') Visualizar quadro de manutenções
				.botao-box.pos-botao-5
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Financeiro
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Gerar relatório financeiro
				.botao-box.pos-botao-6
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							| Gerência
							span.caret
						ul.dropdown-menu
							li
								a(href='/home/gerente/permissao') Gerenciar permissões de usuários
							li
								a(href='/home/gerente/registro') Gerenciar leitos
							li
								a(href='/home/gerente/signup') Criar usuários
				.botao-box.pos-botao-7
					.dropdown
						button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
							a(href='/home' style='color:white') Início



		block content



