doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    img(src="/img/logo.png", style="width:100%")
    .dropdown(style='position:absolute;left:1200px;top:167px')
      button.btn.btn-link.dropdown-toggle.test(type='button', data-toggle='dropdown', style='color:white')
        | Opcao A
        span.caret
      ul.dropdown-menu
        li
          a(href='#') A1
        li
          a(href='#') A2
        li
          a(href='#') A3
    .dropdown(style='position:absolute;left:1300px;top:167px')
      button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', style='color:white')
        | Opcao B
        span.caret
      ul.dropdown-menu
        li
          a(href='#') B1
        li
          a(href='#') B2
        li
          a(href='#') B3
    .dropdown(style='position:absolute;left:1400px;top:167px')
      button.btn.btn-link.dropdown-toggle(type='button', data-toggle='dropdown', style='color:white')
        | Opcao C
        span.caret
      ul.dropdown-menu
        li
          a(href='#') C1
        li
          a(href='#') C2
        li
          a(href='#') C3
  body(style="background-color:#99CCFF")
    block content



